<style>
.text{
	color:#444;
	text-shadow:0px 1px 5px #bfbfbf;
	font-family: 'Cabin Condensed', sans-serif;
    font-size:16px;
	line-height:16px;
}

.title{
    color:#444;
    font-size:22px;
}
</style>
{% extends "misc/base.html" %}

{% block content %}

<h1 class="title">Password reset</h1>

<p class="text">Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
<div class="softform">
<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset my password" /></p>
</form>
</div>

{% endblock %}
