<style>
.text{
	color:#333;
	text-shadow:0px 1px 5px #bfbfbf;
	font-family: 'Cabin Condensed', sans-serif;
    font-size:16px;
	line-height:16px;
}
.register-box
{
height: 200px;
width:  350px;
border: 1px solid black;
background-color: #EEE;
text-align:center;
border-radius:9px 9px 9px 9px;
position:absolute;
padding:15px;
top: 10px;
left:145px;
}
.error-box
{
height: 60px;
width:  360px;
border: 1px solid black;
background-color: #EEE;
text-align:center;
border-radius:9px 9px 9px 9px;
position:absolute;
padding:0px 0px 0px 0px;
top: 255px;
left:155px;
}
</style>

{% extends "misc/base.html" %}

{% block content %}


{% if has_account %}
    <p class="text">Hey! You already have an account!<p>
{% else %}



        {% if not created %}
    <div class="register-box">
        <form action="/accounts/register/" method="post" style="margin-left:26px;">{% csrf_token %}
            <table class="softform">
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit">
        </form>
        </div>
        {% else %}
            <p class="text" style="width:500px;">Your account was succesfully created, check your email to validate it and be ready to log in!</p>
            <p class="text" style="font-size:10px;line-height:10px;">Please notice that you will not be able to log in until you activate your account.</p>
        {% endif %}
    {% if empty %}
        <p class="text">Please fill in all the fields.</p>
    {% endif %}

    {% if name_in_use %}
        <div class="error-box"><p class="text">The username is already taken, please choose a new one.</p></div>
    {% endif %}
    {% if email_in_use %}
        <div class="error-box"><p class="text">The email is already taken, pleace choose a new one.</p></div>
    {% endif %}



{% endif %}
{% endblock %}
